<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Регистрация</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
  <div class="bg-info navb">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">{{ username }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/voting">Голосования</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup">Регистрация</a>
        </li>
    </ul>
  </div>
  <div class="container">
    <div class="container">
    <h2>Конструктор Голосования</h2>
    <form action="/make_voting/" method="post">
        {% csrf_token %}
        {{ form }}
        {% for variant in form.variants %}
        <br>
        <label for="{{variant.label}}">{{variant.label}}</label>
        <input type="text" name="{{variant.label}}" id="{{variant.id}}">
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
  </div>


    {% block content %}

  {% endblock %}
  </body>
</html>
